<%= form_with(model: latitude) do |form| %>
  <% if latitude.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(latitude.errors.count, "error") %> prohibited this latitude from being saved:</h2>

      <ul>
        <% latitude.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :mag_type, style: "display: block" %>
    <%= form.text_field :mag_type %>
  </div>

  <div>
    <%= form.label :tsunami, style: "display: block" %>
    <%= form.check_box :tsunami %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.text_field :time %>
  </div>

  <div>
    <%= form.label :place, style: "display: block" %>
    <%= form.text_field :place %>
  </div>

  <div>
    <%= form.label :magnitude, style: "display: block" %>
    <%= form.text_field :magnitude %>
  </div>

  <div>
    <%= form.label :externa_id, style: "display: block" %>
    <%= form.text_field :externa_id %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
