<div id="<%= dom_id latitude %>">
  <p>
    <strong>Longitude:</strong>
    <%= latitude.longitude %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= latitude.title %>
  </p>

  <p>
    <strong>Mag type:</strong>
    <%= latitude.mag_type %>
  </p>

  <p>
    <strong>Tsunami:</strong>
    <%= latitude.tsunami %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= latitude.time %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= latitude.place %>
  </p>

  <p>
    <strong>Magnitude:</strong>
    <%= latitude.magnitude %>
  </p>

  <p>
    <strong>Externa:</strong>
    <%= latitude.externa_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= latitude.type %>
  </p>

</div>
