<div id="<%= dom_id earthquake %>">
  <p>
    <strong>Latitude:</strong>
    <%= earthquake.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= earthquake.longitude %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= earthquake.title %>
  </p>

  <p>
    <strong>Mag type:</strong>
    <%= earthquake.mag_type %>
  </p>

  <p>
    <strong>Tsunami:</strong>
    <%= earthquake.tsunami %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= earthquake.time %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= earthquake.place %>
  </p>

  <p>
    <strong>Magnitude:</strong>
    <%= earthquake.magnitude %>
  </p>

  <p>
    <strong>Externa:</strong>
    <%= earthquake.externa_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= earthquake.type %>
  </p>

</div>
