<p style="color: green"><%= notice %></p>

<%= render @earthquake %>

<div>
  <%= link_to "Edit this earthquake", edit_earthquake_path(@earthquake) %> |
  <%= link_to "Back to earthquakes", earthquakes_path %>

  <%= button_to "Destroy this earthquake", @earthquake, method: :delete %>
</div>
